{namespace qr = Tx_Questionrating_ViewHelpers}
<!-- ###QUESTION_MAIN### begin -->

				<table class="question" border="0"  cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th class="mainhead"><f:translate key="headline_question">###TABLE_HEADLINE_QUESTION###</f:translate></th>
							<th class="small-right" width="75"><b>ID: {question.xmlId}</b></th>
							<th ><f:format.crop maxCharacters="30" append=" ...">{question.questionTitle}</f:format.crop></th>
							<th class="small-right"><input style="width:110px;" type="button" value="OVERVIEW" onclick="window.location.href='{f:uri.action(controller: 'Question')}'" /></th>
							<th class="arrow"><img  onclick="toggle('questionBody',this,'{f:uri.resource(path: 'Images/pfeil.gif')}','{f:uri.resource(path: 'Images/pfeil-close.gif')}');" src="{f:uri.resource(path: 'Images/pfeil.gif')}" /></th>
						</tr>
					</thead>
					<tbody id='questionBody'>
						<tr>
							<td colspan="5" class="spacer"></td>
						</tr>
						<tr>
							<td><b>Q:</b></td>
							<td colspan="3" class="questiontext"><qr:displayTextAndCode>{question.questiontext}</qr:displayTextAndCode></td>
							<td></td>
						</tr>
						<tr>
							<td><b>A:</b></td>
							<td colspan="3">
								<f:for each="{question.answers}" key="id" as="answer">
									<!-- ###ANSWER### begin -->
									<f:if condition="{showToggleButton}!=1">
										<f:then>
											<f:if condition="{qr:inArray(needle:'{id}' array:'{question.correctanswer}')}">
												<f:then>
													<div style="padding-bottom:1em;" class="highlight" id="answer_{id}"><qr:displayTextAndCode>({id}.) {answer}</qr:displayTextAndCode></div>
												</f:then>
												<f:else>
													<div style="padding-bottom:1em;" class="" id="answer_{id}"><qr:displayTextAndCode>({id}.) {answer}</qr:displayTextAndCode></div>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
											<div style="padding-bottom:1em;" class="" id="answer_{id}"><qr:displayTextAndCode>({id}.) {answer}</qr:displayTextAndCode></div>
										</f:else>
									</f:if>
									<!-- ###ANSWER### end -->
								</f:for>
							</td>
							<td></td>
						</tr>
						<f:if condition="{showToggleButton}">
						<!-- ###ANSWER_SHOW_CORRECT_BUTTON### begin -->
						<tr>
							<td colspan="5" align="center"><input style="width:220px;" type="button" onclick="showHideCorrectAnswer('<qr:implode array="{question.correctanswer}" />',this)" value="SHOW CORRECT ANSWER" /></td>
						</tr>
						<!-- ###ANSWER_SHOW_CORRECT_BUTTON### end -->
						</f:if>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5" class="final"></td>
						</tr>
					</tfoot>
				</table>


<!-- ###QUESTION_MAIN### end -->
