											<!-- ###STEP3_CELL_FINAL_RATING_BOX### end -->
											<div class="smallform smallform-sub rating">
												<f:form method="post" controller="Rating" action="ratingStep3" name="rating" object="{rating}" arguments="{question : question}">
													<p><f:form.textbox property="finalRatingValue" size="3" /></p><br/>
													<f:form.submit style="width:120px;" value="FINAL RATING" />
												</f:form>
											 </div>
											 <!-- ###STEP3_CELL_FINAL_RATING_BOX### end -->